[Unit]
Description = freshclam scanner
[Service]
Type=simple
User={{ clam_user }}
Group={{ clam_group }}
EnvironmentFile={{ clam_dir }}/clamav_services.env
ExecStart=/usr/bin/clamscan $AUTO_SCAN_OPTS {{ clamav_local_filesystem_autoscan }}
Restart = on-failure
PrivateTmp = true
[Install]
WantedBy=multi-user.target
