[Unit]
Description = freshclam scanner
After = network.target
[Service]
Type=simple
ExecStart=/usr/bin/clamscan --infected --remove --cross-fs=yes  --fdpass --recursive / --exclude-dir=/var/log/
Restart = on-failure
PrivateTmp = true
[Install]
WantedBy=multi-user.target
