[Unit]
Description = freshclam scanner
After = network.target
[Service]
Type=simple
EnvironmentFile={{ clam_dir }}/clamav_services.env
ExecStart=/usr/bin/clamscan $CLAM_SCAN_OPTS
Restart = on-failure
PrivateTmp = true
[Install]
WantedBy=multi-user.target
