{% for entry in net_hosts %}{% for iface in entry.interfaces | selectattr('hwaddr','defined') %}
# static host entry: {% if iface.hwaddr is defined %}{{ iface.hwaddr }} {% endif %}
{{ iface.address }} {{ iface.name }}.{{ entry.domain }}
{% endfor %}{% endfor %}
