{% for entry in net_hosts %}{% for iface in entry.interfaces | selectattr('hwaddr','defined') %}
# static host entry: {{ iface.name }} {{ entry.domain }}

{{ iface.address }} {{ iface.hwaddr }}
{% endfor %}{% endfor %}
