[Match]
{% if external_interface == 'primary' or external_interface |intersect(ansible_interfaces) | length >= 1 %}
Name={{ external_interface.replace('primary', ansible_default_ipv4.alias) }}
{% elif external_interface | search(':') %}
MACAddress={{ external_interface | default( ansible_default_ipv4['macaddress']) }}
{% endif %}

[Network]
{% if externalv4 == "^[1-2]" %}
Address={{ externalv4 }}
Gateway={{ externalv4_gateway }}
{% endif %}{% if externalv6 == ":" %} 
Address={{ externalv6 }}
Gateway={{ externalv6_gateway }}
{% elif externalv4 == "dhcp" and externalv6 == "dhcp" %}
DHCP=yes
Address=DHCP
{% elif externalv4 == "dhcp" %}
DHCP=ipv4
Address=DHCP
{% elif externalv6 == "dhcp" %}
DHCP=ipv6
Address=DHCP
LLDP=false
{% endif %}
{% if dns_server is defined and not 'dhcp' in dns_server %}{% for ns in dns_server %}
DNS={{ ns }}
{% endfor %}
[DHCP]
UseDNS=true
{% endif %}
{% if systemd_ver >= 245 and ( externalv6 == "dhcp" or externalv4 == "dhcp") %}
[Route]
Gateway=_dhcp
InitialCongestionWindow=20
InitialAdvertisedReceiveWindow=20
QuickAck=True
FastOpenNoCookie=True
{% endif %}
